$color-grey: #333333;
$color-grey-light: #524d4d;
$color-grey-dark: #1b0703;
$color-grey-neutral: #7e8286;

$color-white: #f7f7f7;
$color-white-dark: #e3e4e8;

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
