$color-grey: #333333;
$color-grey-light: #524d4d;
$color-grey-dark: #1b0703;
$color-grey-neutral: #7e8286;

$color-white: #f7f7f7;
$color-white-dark: #e3e4e8;

$color-yellow: #e7bf3d;
$color-blue: #144272;
$color-blue-light: #205295;
$color-blue-dark: #0a2647;

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
